.navbarContainer {
  width: 100vw;
  height: 100px;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.navbarContainer img {
  height: 50px;
  width: 50px;
  padding-left: 20px;
}

.navbarContainer h1 {
  font-size: 3rem;
}
