.navbarContainer {
  background-color: #f2f2f2;
  padding: 20px;
}

.navbarContainer h1 {
  color: #c01010;
  font-size: 20px;
  padding: 10px;
}

.navbarContainer img {
  width: 50px;
  height: 50px;
}
